* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  
  body {
    min-height: 100vh;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  .side-menu {
    position: fixed;
    background: #0082CB;
    width: 321px;
    min-height: 1024px;
    display: flex;
    flex-direction: column;
  }
  
  .side-menu .brand-name {
    padding: 18px 30px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-left: 8px;
  }
  
  .logo {
    width: 45px;
    height: auto;
  }
  
  i, .logo {
    margin-right: 20px;
  }
  
  .side-menu li a{
    font-size: 18px;
    padding: 25px 40px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  
  .side-menu li a:hover {
    background: #006AA6;
  }
  
  .side-menu li a.active {
    background: #006AA6;
  }
  
  .divider {  
    border-top: 1px solid white; 
    margin: 10px 0;
  }  
  
  .container {
    position: relative;
    right: 0;
    width: calc(100% - 420px);
    min-height: 100vh;
    left: 370px;
  }
  
  .container .header {
    position: fixed;
    width: calc(100% - 350px);
    left: 350px;
    height: 80px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container .header .nav {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 25px;
  } 
  
  .container .header .nav .btn-1 {  
    padding: 15px 30px 15px;
    border: none;
    background-color: #006AA6;
    color: white;
    border-radius: 30px; 
    font-size: 18px;
    font-weight: bold;
  }  
  
  .container .header .nav .btn-1:hover {  
    background-color: white;
    color: #006AA6;
    border-style: solid;
    border-color: #006AA6;
  } 
  
  .container .header .nav .chat {  
    display: flex;
    padding: 10px;
    color: #006AA6;
    font-size: 40px;
    font-weight: bold;
  }  
  
  .container .content {
    position: relative;
    padding-top: 100px;
  }
  
  .content .overview-boxes {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
  }
  
  .box {
    width: 327px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    padding: 30px 20px; 
    border-radius: 30px;  
    background-color: #ffff; 
    box-sizing: border-box;
    border-style: solid;
    border-color: #006AA6;
    margin: 15px;
  }
  
  .left-side {  
    text-align: left;
  } 
  
  .content .overview-boxes .box-topic {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .content .overview-boxes .number {
    font-size: 32px;
    font-weight: bold;
    margin-top: 5px;
    display: inline-block;
  }
  
  .content .overview-boxes .box-sub {
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
  }

  .account-num, .bank-name {
    margin-bottom: 5px;
  }

  .icon {  
    gap: 10px;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
  }  

  .icon i {
    padding: 0;
    margin: 0;
    font-size: 20px;
  }

  .icon-info {
    color: #21AAFC
  }

  .icon-edit {
    color: #006AA6;
  }

  .icon-delete {
    color: #CF0000;
  }
  
  .card {  
    width: 327px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    padding: 30px 20px; 
    border-radius: 30px;  
    background-color: #ffff; 
    box-sizing: border-box;
    border-style: solid;
    border-color: #006AA6;
  }

  .card-div {  
    border-top: 1px solid #006AA6; 
  } 

  /* Create Event */
  header h1 {
    text-align: center;
    padding-bottom: 20px;
  }

  .form-event-container {
    max-width: 887px;
    margin: 0 auto;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .form-event-container ul li {
    padding-bottom: 18px;
  }

  .form-event-container ul li label {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 18px;
    display: block;
  }

  .date-container {
    display: flex;
    justify-content: space-between;
  }

  .date-container .date-field {
    flex: 1;
    margin: 0;
  }

  .date-container .date-field .input-date-wrapper {
    position: relative;
  }

  input[type="text"] {
    width: 887px;
    height: 57px;
    padding: 10px 40px 10px 10px;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
  }

  .date-field input[type="text"] {
    width: 431px;
  }

  .calendar-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #006AA6;
    font-size: 20px;
  }

  .desc input[type="text"] {
    height: 200px;
  }

  .form-event-container .button-container {
    display: flex;
    justify-content: space-between;
  }

  .form-event-container .button-container .cancel-button {
    width: 431px;
    height: 56;
    background-color: white;
    color: #006AA6;
    border: 1px solid #006AA6;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .form-event-container .button-container .submit-button {
    width: 431px;
    height: 56px;
    background-color: #006AA6;
    color: white;
    border: 1px solid #006AA6;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }