* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  
  body {
    min-height: 100vh;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  .side-menu {
    position: fixed;
    background: #0082CB;
    width: 321px;
    min-height: 1024px;
    display: flex;
    flex-direction: column;
  }
  
  .side-menu .brand-name {
    padding: 18px 30px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-left: 8px;
  }
  
  .logo {
    width: 45px;
    height: auto;
  }
  
  i, .logo {
    margin-right: 20px;
  }
  
  .side-menu li a{
    font-size: 18px;
    padding: 25px 40px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  
  .side-menu li a:hover {
    background: #006AA6;
  }
  
  .side-menu li a.active {
    background: #006AA6;
  }
  
  .divider {  
    border-top: 1px solid white; 
    margin: 10px 0;
  }  
  
  .container {
    position: relative;
    right: 0;
    width: calc(100% - 420px);
    min-height: 100vh;
    left: 370px;
  }
  
  .container .header {
    position: fixed;
    width: calc(100% - 350px);
    left: 350px;
    height: 80px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }

  .container .header .header-name {
    padding-top: 25px;
  }
  
  .container .header .nav {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 25px;
    padding-left: 300px;
  } 
  
  .container .header .nav .btn-1 {  
    padding: 15px 30px 15px;
    border: none;
    background-color: #006AA6;
    color: white;
    border-radius: 30px; 
    font-size: 18px;
    font-weight: bold;
  }  
  
  .container .header .nav .btn-1:hover {  
    background-color: white;
    color: #006AA6;
    border-style: solid;
    border-color: #006AA6;
  } 
  
  .container .header .nav .chat {  
    display: flex;
    padding: 10px;
    color: #006AA6;
    font-size: 40px;
    font-weight: bold;
  }  
  
  .container .content {
    display: flex;
    position: flex;
    padding-top: 100px;
    width: calc(100% - 50px);
  }
  
  .content .overview-boxes {
    flex: 1;
    flex-wrap: wrap;  
    justify-content: space-between;
  }
  
  .box {
    width: 327px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    padding: 30px 20px; 
    border-radius: 30px;  
    background-color: #ffff; 
    box-sizing: border-box;
    border-style: solid;
    border-color: #006AA6;
    margin: 15px;
  }
  
  .left-side {  
    text-align: left;
  } 
  
  .content .overview-boxes .box-topic {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .content .overview-boxes .number {
    font-size: 32px;
    font-weight: bold;
    margin-top: 5px;
    display: inline-block;
  }
  
  .content .overview-boxes .box-sub {
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
  }

  .account-num, .bank-name {
    margin-bottom: 5px;
  }

  .icon {  
    gap: 10px;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
  }  

  .icon i {
    padding: 0;
    margin: 0;
    font-size: 20px;
  }

  .icon-info {
    color: #21AAFC
  }

  .icon-edit {
    color: #006AA6;
  }

  .icon-delete {
    color: #CF0000;
  }

  .card-div {  
    border-top: 1px solid #006AA6; 
  } 

  /* Create Event */
  header h1 {
    text-align: center;
    padding-bottom: 20px;
  }

  .create-event-container {
    max-width: 887px;
    margin: 0 auto;
  }

  .file-upload {
    display: none;
  }

  .upload-img-button {
    display: inline-flex;
    width: 100%;
    height: 196px;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    color: black;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 18px;
  }

  input[type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .create-event-container input {
    font-size: 14px;
    color: #707070;
  }

  .create-event-container ul li {
    padding-bottom: 18px;
  }

  .create-event-container ul li label {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 18px;
    display: block;
  }

  .create-event-container ul li select {
    width: 100%;
    height: 57px;
    padding: 10px 40px 10px 10px;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 18px;
  }

  .date-container {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  .date-container .date-field {
    margin: 0;
  }

  .create-event-container input[type="text"] {
    width: 100%;
    height: 56px;
    padding: 10px 40px 10px 10px;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
  }

  .date-field input[type="date"] {
    width: 431px;
    height: 56px;
    padding: 10px 40px 10px 10px;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
  }

  .calendar-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #006AA6;
    font-size: 20px;
  }

  .desc input[type="text"] {
    height: 200px;
  }

  .create-event-container .button-container {
    display: flex;
    justify-content: space-between;
  }

  .create-event-container .button-container .cancel-button {
    width: 431px;
    height: 56px;
    background-color: white;
    color: #006AA6;
    border: 1px solid #006AA6;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .create-event-container .button-container .submit-button {
    width: 431px;
    height: 56px;
    background-color: #006AA6;
    color: white;
    border: 1px solid #006AA6;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .info-container {
    flex: 2;  
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .info-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }

  .info-container .info-field {
    margin-bottom: 40px;
  }

  .info-container .info-field .eo-name-title,
  .eo-email-title,
  .eo-phone-title {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
    display: block;
  }

  .info-container .info-field .eo-name, 
  .eo-email,
  .eo-phone {
    font-size: 16px;
    padding: 5px 0;
    border-bottom: 1px solid black;
  }

  .info-container .edit-info {
    padding: 10px 50px;
    align-self: flex-end;
    border: none;
    background-color: #006AA6;
    color: white;
    border-radius: 15px; 
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
  }

  .info-container .info-field input {
    width: 100%;
    height: 56px;
    padding: 10px 40px 10px 10px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 16px;
  }

  .info-container .button-info-container {
    align-self: flex-end;
  }

  .info-container .button-info-container .cancel-info {
    padding: 8px 50px;
    border: 2px solid #006AA6;
    background-color: white;
    color: #006AA6;
    border-radius: 15px; 
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
  }

  .info-container .button-info-container .save-info {
    padding: 10px 50px;
    border: none;
    background-color: #006AA6;
    color: white;
    border-radius: 15px; 
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
  }

  .container .event-content {
    display: block;
    padding-top: 100px;
    width: calc(100% - 50px);
  }

  .tab-events-header {
    display: flex;
  }

  .tab-events-header .tab-event {
    cursor: pointer;  
    padding: 20px 210px;  
    background-color: #F4F4F4;  
    border-bottom: 1px solid #006AA6;  
    display: inline-block;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    gap: 0;
  }

  .tab-events-header .tab-event.active {
    background-color: #006AA6;  
    color: white;
  }

  .tab {
    display: none;
  }

  .tab.active {
    display: block;
  }

  .card-container{
    display: flex;
    gap: 5.5rem;
  }

  .card-container a{
    text-decoration: none;
    color: black;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 18px;
    margin: 10px 0;
    padding-bottom: 20px;
  }
    
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .card-content {
    padding-left: 1rem;
  }

  .content-top p {
    font-size: 14px;
  }

  .content-bottom p{
    font-size: 12px;
  }

  .event-content {  
    padding-top: 100px;
    width: calc(100% - 50px); 
    margin: 0 auto;  
  }  

  .banner {  
    width: 100%;  
    height: 300px;
    background-size: cover;  
    background-position: center; 
    border-radius: 8px; 
  }  

  .detailevent-content {  
    display: flex;  
    justify-content: space-between;  
    margin-top: 20px;  
  }  

  .box-event {  
    background: white;  
    border-radius: 8px; 
    border:1px solid #006AA6; 
    padding: 20px;  
    flex: 1;
    margin: 10px; 
  }  

  .event-details {  
    width: calc(100% - 20px);
  }  

  .edit-event-button {  
    display: inline-block;  
    padding: 10px 20px;  
    background-color: white;  
    color: #006AA6;  
    font-weight: bold;
    border: 1px solid #006AA6;  
    border-radius: 5px;  
    cursor: pointer;  
    text-align: center;  
    margin-top: 10px;  
  }

  .event-date-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .delete-event-button {  
    display: inline-block;  
    padding: 10px 20px;  
    background-color: white;  
    color: #CF0000;  
    font-weight: bold;
    border: 1px solid #CF0000;  
    border-radius: 5px;  
    cursor: pointer;  
    text-align: center;  
    margin-top: 10px;  
  }

  .booth-button {  
    display: inline-block;  
    padding: 10px 20px;  
    background-color: white;  
    color: #006AA6;  
    font-weight: bold;
    border: 1px solid #006AA6;  
    border-radius: 5px;  
    cursor: pointer;  
    text-align: center;  
    margin-top: 10px;  
  }

  .description {  
    margin-top: 10px;  
  }

  .booth-detail {
    padding-top: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .booth-detail-content {
    flex: 1;
    margin-right: 30px;
  }

  .button-booth-container {
    display: flex;
    gap: 10px;
    align-self: flex-start;
  }

  .upload-layout-button, .add-category-button {  
    display: inline-block;  
    padding: 15px 10px;  
    background-color: white;  
    color: #006AA6;  
    font-weight: bold;
    border: 1px solid #006AA6;  
    border-radius: 5px;  
    cursor: pointer;  
    text-align: center; 
  }

  .booth-list-container select {
    width: calc(100% - 101px);
    height: 40px;
    padding: 10px 40px 10px 10px;
    border: 1px solid #006AA6;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 18px;
  }

  .booth-list-container .booth-category button {
    display: inline-block;  
    padding: 10px 10px;  
    background-color: #006AA6;  
    color: white;  
    font-weight: bold;
    border: 1px solid white;  
    border-radius: 5px;  
    cursor: pointer;  
    text-align: center;
  }

  .booth-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .booth-list button {
    padding: 50px;  
    background-color: white;  
    color: #006AA6;  
    font-weight: bold;
    border: 1px solid #006AA6;  
    border-radius: 5px;  
    cursor: pointer;  
    text-align: center;
  }

  .popup-box {  
    position: fixed;  
    left: 0;  
    top: 0;  
    width: 100%;  
    height: 100%;  
    background-color: rgba(0, 0, 0, 0.5);  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    z-index: 1000;  
  }  

  .popup-content {  
    background: white;  
    padding: 50px;  
    width: 750px;  
    position: relative;  
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
  }

  .close {  
    position: absolute;  
    top: 10px;  
    right: 15px;  
    cursor: pointer;  
    font-size: 24px;  
  } 

  .field-popup-box label {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 20px;
    display: block;
  }

  .field-popup-box input[type="text"], input[type="number"]{
    width: 100%;
    height: 56px;
    padding: 10px 40px 10px 10px;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
  }

  .btn-popup-savecancel {
    display: flex;
    justify-content: flex-end;
  }

  .cancel-button {  
    display: inline-block;  
    padding: 10px 20px;  
    background-color: white;  
    color: #006AA6;  
    font-weight: bold;
    border: 1px solid #006AA6;  
    border-radius: 5px;  
    cursor: pointer;  
    text-align: center;  
    margin-top: 10px;  
  }

  .submit-popup-button {  
    display: inline-block;  
    padding: 10px 20px;  
    background-color: #006AA6;  
    color: white;  
    font-weight: bold;
    border: 1px solid white;  
    border-radius: 5px;  
    cursor: pointer;  
    text-align: center;  
    margin-top: 10px;  
  }